@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');


.App {
  text-align: center;
  background-color: black;
  background-size: cover;
  height: 100vh;
  color: gold;
  background: radial-gradient(gold,black);
}
body{
  background-color: black;
  height: 100vh;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation-name: rotate;
  animation-duration:30s;
  transform-style: preserve-3d;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#navbar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style:none;
}

#navbar li{
  padding: 20px;
  color: white;
}

#navbar img{
  width: 70px;
  height: 70px;
}


#navlogo{
  position: relative;
  bottom: 20px;
}

#navbar a {
  color: gold;
  text-transform: uppercase;
}


/* navbar end */

/* header */
#headertext{
  display: flex;
  justify-content: center;
  align-items: center;
text-align: center;
  font-size: 75px;
  color: gold;
  text-shadow: 2px 2px gray;
  font-family: 'Pirata One', cursive;
letter-spacing: 10px;
}
  
#headertext:hover{
  transform: scale(1.1);
  transition: ease 0.7s;
}

#header{
  background: url(../images/trucksunset.jpg);
  background-size:cover;
  background-position: right 600px;
  height: 200px;

}

#slogan h3{
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	/* border: 4px double rgba(255,255,255,.25); */
	padding: 1.5em 0em;
	width: 70%;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
}


/* header end  */