@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

.App {
  text-align: center;
  background-color: black;
  background-size: cover;
  height: 100vh;
  color: gold;
}
body {
  background-color: black;
  height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation-name: rotate;
  animation-duration: 30s;
  transform-style: preserve-3d;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.socialicons{
  width: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#navbar li {
  padding: 20px;
  color: white;
  font-size: 30px;
}

#navbar img {
  width: 70px;
  height: 70px;
}

#navlogo {
  position: relative;
  bottom: 20px;
}

#navbar a {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
  text-transform: uppercase;
}

/* navbar end */

/* header */
#headertext {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  font-family: "Pirata One", cursive;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing:0;
  display: inline-block;
  padding: 1.5em 0em;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

#headertext:hover {
  transform: scale(1.1);
  transition: ease 0.7s;
}

#header {
  background: url(../images/trucksunset.jpg);
  background-size: cover;
  background-position: right 600px;
  height: 200px;
}

#slogan h3 {
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  padding: 1.5em 0em;
  width: 70%;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
}

/* header end  */

/* Footer start */

#footer {
  display: inline-block;
  justify-content: left;
  width: 100%;
  padding: 10px;
  color: gold;
}

#footer h3 {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );

  -webkit-background-clip: text;
}

#footer h3 strong{
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
}

#footer h5 {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
}

#footer a{
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;}

#footer img{
  width: 20%;
}
#form h1{
  color: transparent;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
  text-transform: uppercase;
}
/* Footer End */


/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 667px) /* mobile devices */ {
  #navbar li {
    padding: 5px;
    color: white;
    font-size:12px;
  }

  #headertext {
  font-size: 32px;
line-height: normal; 
 }

 #slogan h3{
   font-size: 0.75em;
   line-height: normal;
 }

#footer{
  position: relative;
  bottom: 0px;
}

#footer h3{
  font-size: 16px;
  text-align: center;
}

}
  @media only screen and (min-width: 668px) and (max-width: 1366px) /* tablets to Chromebooks */ {
    
  }
  