#logo2{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: gold solid 5px;
}

#logo2:hover{
    overflow: auto;
    transform: scale(1.1);
    transition: ease-in 0.7s;
}

#home{
    background-color: black;
    padding: 20px;
}
.card mb-3{
    background-color: black;
}

#homecard{
    background-color: black;
    height: 200px;
}
#homecard img{
width: 300px;
height: 300px;
border-radius: 5%;
-webkit-box-shadow: 3px 5px 6px gold; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow: 3px 5px 6px gold; /* Firefox 3.5 - 3.6 */
box-shadow: 3px 5px 6px gold; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#homecard img:hover{
    overflow: auto;
    transform: scale(1.1);
    transition: ease-in 0.7s;
}
body{
    background-color: black;
}