#form{
    display: inline;
    justify-content: center;
    align-items: center;
line-height: normal;
width: 50%;

}


#contact{
    background-color: black;
}

#contactform{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5%;
    background: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
}

#label{
    background: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
}

#titles{
    background: transparent;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 667px) /* mobile devices */ {
#contactform{
    width: 90%;
}

#form h1{
    display: contents;
}
}
  @media only screen and (min-width: 668px) and (max-width: 1366px) /* tablets to Chromebooks */ {
    
  }
  