#form{
    display: inline;
    justify-content: center;
    align-items: center;
line-height: normal;
width: 50%;
}

#form h1{
    color: transparent;
    background-image: linear-gradient(
      to right,
      #462523 0,
      #cb9b51 22%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
    );
    -webkit-background-clip: text;
    text-transform: uppercase;
}
#contact{
    background-color: black;
}

#contactform{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gold;
    padding: 15px;
    border-radius: 5%;
}