#aboutimage{
    width: 25%;
    height: 20%;
    transform: scale(1);
}

#aboutimage:hover{
    overflow: hidden;
transform: scale(0.8);
transition: 0.5s;
}

#about{
    background-color: black;
    padding: 20px;
}

#about h1{
    padding: 10px;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(
      to right,
      #462523 0,
      #cb9b51 22%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
    );
    -webkit-background-clip: text;
}

#about h4{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: transparent;
    background-image: linear-gradient(
      to right,
      #462523 0,
      #cb9b51 22%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
    );
    -webkit-background-clip: text;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 667px) /* mobile devices */ {

    #about h3{
        font-size: 14px;
        width: 100%;
    }

    #aboutimage{
        width: 70%;
        height: 70%;
    }
}
  @media only screen and (min-width: 668px) and (max-width: 1366px) /* tablets to Chromebooks */ {
    
  }
  